@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-input {
        background-color: white;
        border-radius: 8px;
        color: black;
        padding: 8px;
    }
}
