@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-input {
        background-color: white;
        border-radius: 8px;
        color: black;
        padding: 8px;
    }

    .accordion li {
        list-style: none;
        margin-bottom: 20px;
    }

    input[type="radio"] {
        display: none;
    }

    input[type="radio"]:checked + label h1 {
        background-image: linear-gradient(to right, #183939, #183315, #2e6229);
        color: #fff;
    }

    input[type="radio"] + label + .content {
        max-height: 0;
        overflow: hidden;
        padding: 0 1rem;
        transition:
            max-height 0.3s,
            padding 0.3s;
    }

    input[type="radio"]:checked + label + .content {
        max-height: 1000px; /* Adjust this value as needed */
        padding: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    input[type="radio"] + label h1 {
        transition:
            background-image 0.3s,
            color 0.3s;
    }

    .tabs {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        gap: 12px;
    }

    .tabs__radio {
        display: none;
    }

    .tabs__content {
        order: 1;
        width: 100%;
        display: none;
    }

    .tabs__label {
        cursor: pointer;
    }

    .tabs__radio:checked + .tabs__label {
        background-color: #4da444;
        color: white;
    }

    .tabs__radio:checked + .tabs__label + .tabs__content {
        display: block;
    }

    .content__table {
        border-collapse: collapse;
        width: 100%;
        margin: 0.5rem;
        font-size: larger;
    }

    .content__table thead tr {
        background-color: white;
        color: #4da444;
        text-align: left;
        font-weight: 600;
    }

    .content__table th,
    .content__table td {
        padding: 1rem 0.5rem;
    }

    .content__table tbody tr:nth-of-type(odd) {
        background-color: #edf6ec;
    }
}
